<div>
  <br>
  <h1>Admin Dashboard</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Number of Products</th>
        <th scope="col">Number of Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Count</th>
        <td><%= @product_count %></td>
        <td><%= @category_count %></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary">
    <%= link_to 'Products', [:admin, :products], class: "nav-link" %>
  </button>
</div>
